config SUNXI_G2D_M2M
	tristate "Allwinner Sunxi G2D memory-to-memory 2D engine driver"
 	depends on VIDEO_DEV && V4L2_MEM2MEM_DEV && VIDEO_V4L2 && OF && COMMON_CLK && HAS_DMA && MMU
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_MEM2MEM_DEV
 	help
	  help
	  V4L2 mem2mem driver for the Allwinner G2D 2D accelerator (BLIT/SCALE/ROTATE).
	  This driver starts minimal: XRGB8888 → XRGB8888, non-mplane, OUTPUT->CAPTURE.
	  Later we can add NV12 mplane, rotations and Porter-Duff alpha.

	  Say Y to build it into the kernel or M to build as a module.
